*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.app {
  min-height: 100vh;
  display: grid;
  /* background: linear-gradient(
    to top,
    rgba(157, 180, 220, 0.9),
    rgba(55, 103, 248, 0.8) 
); */

}